@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2{
  font-size: 1rem;
  font-weight: bold;
}

body {
  color: rgb(var(--foreground-rgb));
  background: bisque;
    padding: 1rem;
}

.top-bar{
  background-color: black;
  color:bisque;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.content{
  padding-top: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
